.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10%;
  padding-left: 5%;
}

.todos-container {
  display: flex;
  gap: 12px;
  color: white;
  font-size: medium;
  text-align:center;
}

.todo {
  width: 100px;
  height: 100px;
  border: 1px seagreen solid;
  padding : 5px;
  border-radius: 8px;
  position: center;
  background-color:black;
}